In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [5]:
data_raw = pd.read_csv('../../../../datasets/Greece - Agriculture and Rural Development/agriculture-and-rural-development_grc.csv')
pd.set_option('display.max_columns', 10)
data_raw.head()

,Agricultural land (% of land area),Agricultural land (sq. km),"Agricultural machinery, tractors","Agricultural machinery, tractors per 100 sq. km of arable land",Agricultural raw materials exports (% of merchandise exports),...,Permanent cropland (% of land area),Rural population,Rural population (% of total population),Rural population growth (annual %),Surface area (sq. km)
0,NaN,NaN,NaN,NaN,NaN,...,NaN,3671291,44.064,NaN,NaN
1,69.123351,89100.0,22630.0,80.994989,NaN,...,7.028704,3657099,43.547,-0.387316,131960.0
2,69.061288,89020.0,24530.0,85.679357,23.071856,...,6.508922,3604016,42.660,-1.462143,131960.0
3,69.984484,90210.0,28500.0,93.228656,16.425263,...,6.508922,3542618,41.778,-1.718278,131960.0
4,69.751746,89910.0,33500.0,111.629457,16.315466,...,6.570985,3480851,40.901,-1.758920,131960.0

In [6]:
variable_x1 = "Crop production index (2014-2016 = 100)"
variable_x2 = "Fertilizer consumption (% of fertilizer production)"
variable_x21 = "Fertilizer consumption (kilograms per hectare of arable land)"
variable_x22 = "Land under cereal production (hectares)"
variable_y = "Cereal production (metric tons)"
data = data_raw[[variable_x, variable_y]].dropna().reset_index(drop=True)
data.head()

   Crop production index (2014-2016 = 100)  Cereal production (metric tons)
0                                62.570000                        2243876.0
1                                50.700001                        2426843.0
2                                57.430000                        2122537.0
3                                57.150002                        2874641.0
4                                61.770000                        2940922.0